<%- include('../layouts/header') %> 
<br>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>

<% if (locals.error != null) {%> 
    <%= error %> 
<% } %> 

<h2>Add New Release Note</h2>

<form action="/rel/<%=project.id%>/new" method="POST" enctype="multipart/form-data">
    <label for="text">Title: </label>
    <input type="text" id="title" name="title">
    <br><br>
    <label for="file">File: </label>
    <input type="file" id="file" name="file" required>
    <br><br>
    <label for="text">Releae Version: </label>
    <input type="text" id="releaseVersion" name="releaseVersion">
    <br><br>
    <label for="text">Description: </label>
    <textarea id="file-input" type="text" id="description" name="description"></textarea>
    <br><br>
    <label for="date">Upload Date: </label>
    <input type="date" id="createdAt" name="createdAt">
    <br><br>
    <button type="submit">Add Release Note</button>
</form>

<a href="/rel/<%=project.id%>">Cancel</a>

<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("file-input") });
</script>



