<h2>Log in to Your Account</h2>

<% if (message != null) { %>
  <%= message %>
<% } %>   
<br><br>
<form action="/login" method="POST">
  <div>
  <label for="username">User Name</label>
  <input type="text" placeholder="username" id="xyz" name="username">
  </div>
  <br>
  <div>
  <label for="password">Password</label>
  <input type="password" id="password" name="password">
  </div>
  <br>
  <button>Sign In</button>
</form>

<p>First time here? <a href="/register">Sign Up</a></p>