<%- include('../layouts/header') %> 
<h2>
    Home Page 
</h2>
<p>
    Welcome to the Home Page.
</p>
<h3>Projects:</h3>

<div>
    <a href="/new_project">Add New Project</a><br><br>
</div>

<form action="/home" method="GET">
    <% projects.forEach( project => { %>
        <div><%= project.name %>
            <br>
            <%= project.description %>
        </div>
        <a href="/rel/<%= project.id %>">View</a>
        <br><br>
    <% }) %>
</form>


